---
import clsx from "clsx";
import Paragraph from "../paragraph/paragraph.astro";

const {
  quote,
  quote_size = "lg",
  author_name,
  author_description,
  gap = "sm",
  alignment = "center",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => !key.startsWith("_"))
);

const classNames = clsx("testimonial", `gap-${gap}`, `alignment-${alignment}`, className);
---

<blockquote class:list={classNames} {...htmlAttributes}>
  <Paragraph text={`“${quote}”`} size={quote_size} class="quote" />
  <cite class="author">
    <strong class="name">
      {author_name}
    </strong>
    {author_description && <span class="description">- {author_description}</span>}
  </cite>
</blockquote>

<style>
  .testimonial {
    display: flex;
    flex-direction: column;
    margin: 0;

    &.gap-xs {
      gap: var(--space-xs);
    }
    &.gap-sm {
      gap: var(--space-sm);
    }
    &.gap-md {
      gap: var(--space-md);
    }
    &.gap-lg {
      gap: var(--space-lg);
    }
    &.gap-xl {
      gap: var(--space-xl);
    }
    &.gap-2xl {
      gap: var(--space-2xl);
    }

    &.alignment-end {
      align-items: end;
      justify-content: end;
    }
    &.alignment-center {
      align-items: center;
      justify-content: center;
    }
  }
  .quote {
    margin: 0;
  }

  .author {
    font-style: normal;
  }
</style>
