---
import clsx from "clsx";
import Paragraph from "../paragraph/paragraph.astro";

const {
  quote,
  authorName,
  authorDescription,
  alignment = "center",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => !key.startsWith("_"))
);

const classNames = clsx("testimonial", `alignment-${alignment}`, className);
---

<blockquote class:list={classNames} {...htmlAttributes}>
  <Paragraph text={`“${quote}”`} size="xl" class="quote" />
  <cite class="author">
    <strong class="name">
      {authorName}
    </strong>
    {authorDescription && <span class="description">- {authorDescription}</span>}
  </cite>
</blockquote>

<style>
  .testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--space-em-sm);
    margin: 0;

    &.alignment-end {
      align-items: end;
      justify-content: end;
    }
    &.alignment-center {
      align-items: center;
      justify-content: center;
    }
    > .quote {
      margin: 0;
    }

    > .author {
      font-style: normal;
    }
  }
</style>
